body {
  margin: 0;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#animation-container {
  width: 1000px;
  position: relative;

}


#button-bridge {
  cursor: pointer;
  pointer-events: all;
}
